* {

  font-family: 'Roboto', sans-serif;


}

h1,
h2{

  font-family: 'Montserrat', sans-serif;

}



ul{

  list-style: none;
}

#landing,
#gallery{

  height: 80vh;
  /*center the elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery{

  border-radius: .3rem;
}

.tools{

  color: white;
  /*create a nice and clean section for tools*/
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
}

h2{

  color: #007bff;
}

html{

  scroll-behavior: smooth;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Top Left text */
.text-block {
  position: absolute;
  top: 250px;
  left: 50px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.text-block2 {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.text-block2 {
  position: absolute; /* Position the background text */  
  background: rgb(128, 128, 128); /* Fallback color */
  background: rgba(128, 128, 128, .3); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  bottom: 550px;

